# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/

# EF Migrations
Migrations/

# Logs
*.log

.DS_Store
